@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

// Mixin to generate fade-in classes with dynamic delay
@mixin fade-in($duration, $delay) {
  animation: fadeIn #{$duration}s ease-in-out #{$delay}s forwards;
  opacity: 0; // Ensure it starts hidden
}

// Generate specific fade-in classes
// Generate fade-in classes from 2 to 16
@for $i from 1 through 16 {
  .fade-in-txt-#{$i} {
    @include fade-in(1, $i);
  }
}

.chat-bubble {
  word-break: break-all;
}

.chat-box {
  min-height: 100%;
  padding: 50px;
  overflow: hidden;
  max-height: 900px;
}

.chat-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-center {
  display: flex;
  max-width: fit-content;
  margin: 10px auto;
}

.chat-box-active {
  background-color: var(--fallback-in,oklch(var(--in)/var(--tw-bg-opacity)));
  color: black;
  border-radius: 10px;
}

.chat-box-list {
  overflow-y: scroll;
}

.chat-box-list-item {
  word-break: break-all;
  overflow-y: scroll;
  a {
    word-break: break-all;
    font-size: 15px !important;
  }
}

.start-new-chat-input {
  margin: 10px;
  min-width: 94%;
}

.chat-box-input {
  float: left;
  min-height: 100%;
  min-width: 80%;

  .chat-input {
    min-height: 70px;
    min-width: 100%;
  }
}

.chat-box-send {
  float: right;
  min-width: 20%;

  .btn {
    min-width: 90%;
    min-height: 59px;
  }
}

.chat-box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

#chat-container {
  overflow: hidden;
}

@media (min-width: 768px) {
  .md\:chat-box {
    display: block;
    background-color: var(--fallback-b2,oklch(var(--b2)/var(--tw-bg-opacity, 1)));
    border-radius: 1rem;
    min-width: 235px;
  }

  .md\:chat-box-chat {
    padding: 10px;
    height: 90%;
    margin-bottom: 10px;
    display: none;
    //justify-content: flex-end;
    flex-direction: column;
  }

  .md\:chat-box-chat-active {
    padding: 10px;
    height: 90%;
    margin-bottom: 10px;
    display: flex;
    //justify-content: flex-end;
    flex-direction: column;
    overflow-y: scroll;
  }

  .md\:chat-container {
    min-height: 100%;
  }
}

@media (max-width: 767px) {
    .md\:chat-box {
        display: none;
    }
}